{
  "singleQuote": true,
  "trailingComma": "es5",
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-tailwindcss",
    "@ianvs/prettier-plugin-sort-imports"
  ],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ],
  "tailwindStylesheet": "src/routes/layout.css",
  "importOrder": [
    "<BUILTIN_MODULES>",
    "^(vite|vite/(.*))$",
    "^@vitejs/(.*)$",
    "^(svelte|svelte/(.*))$",
    "^@sveltejs/kit(.*)$",
    "^@sveltejs/(.*)$",
    "^(?![@.])(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^\\$(?!lib)(.*)$",
    "^\\$lib(.*)$",
    "^[.]"
  ]
}
